.App {
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionOne {
  background-color: #bec5cf;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.BannerSection {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.BannerImg {
  height: 560px;
  width: 530px;
}

.BannerSectionDiv {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleName {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 5em;
  color: black;
  margin-bottom: 5%;
  width: 100%;
  text-shadow: 0.1em 0.1em 0.2em rgba(73, 73, 73, 0.5);
  letter-spacing: 2px;
}

.TitleDiv {
  color: black;
  text-shadow: 0.1em 0.1em 0.2em rgba(73, 73, 73, 0.5);
  letter-spacing: 2px;
}

.AboutSection {
  background-color: black;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.AboutSectionDiv {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileImage {
  height: 350px;
  width: 350px;
  border-radius: 175px;
}

.AboutSectionDiv1 {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 5%;
}

.aboutTitle {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 5%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
}

.aboutText {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  width: 80%;
}

.TechsSection {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .BannerImg {
    height: 460px;
    width: 430px;
  }

  .titleName {
    font-size: 55px;
  }

  .profileImage {
    height: 300px;
    width: 300px;
    border-radius: 150px;
  }

  .aboutTitle {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .aboutText {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .BannerSection {
    flex-direction: column;
  }

  .BannerSectionDiv {
    width: 100%;
    height: 50%;
  }

  .BannerImg {
    height: 350px;
    width: 320px;
  }

  .titleName {
    font-size: 45px;
    width: 90%;
  }

  .profileImage {
    height: 250px;
    width: 250px;
    border-radius: 125px;
  }
  .AboutSection {
    flex-direction: column;
  }

  .AboutSectionDiv {
    width: 100%;
    height: 85%;
    flex-direction: column;
    padding: 2.5%;
    align-items: center;
    justify-content: center;
  }

  .AboutSectionDiv1 {
    height: 100%;
    width: 100%;
    padding: 2.5%;
  }

  .profileImage {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }

  .aboutTitle {
    font-size: 13px;
    letter-spacing: 2px;
  }

  .aboutText {
    font-size: 12px;
    width: 100%;
  }
}
