.navbar-brand {
  font-family: "Roboto", sans-serif;
  margin-left: 2.5%;
}

#nav-link {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-right: 8px;
}

.navbar-Brand {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #nav-link {
    font-size: 15px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  #nav-link {
    font-size: 12px;
    margin-right: 5px;
  }
}
