.navbar-brand {
  font-family: "Roboto", sans-serif;
  margin-left: 2.5%;
}

.nav-link {
  font-family: "Montserrat Alternates", sans-serif;
}

.imgBrand {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .imgBrand {
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
  }
}

@media screen and (max-width: 767px) {
  .imgBrand {
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
  }
}
